body, html {
    margin: 0;
    padding: 0;
    width: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.gray{
    color: rgba(137, 135, 161, 1);
}

.gray-1{
    color: rgba(0, 0, 0, 0.5);
}

.black-color{
    color: rgba(37, 36, 50, 1);
}


.normal-black{
    color: rgba(0, 0, 0, 1);
}

.noto-serif-font{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.display-flex{
    display: flex;
}


.orange-color{
    color: rgba(233, 90, 8, 1);
}

.white-color{
    color: rgba(255, 255, 255, 1);
}


@media screen and (max-width: 768px) {

  *body{

    margin: 0 20px 0;

  }
  .display-none{
    display: none;
  }
    .headen{
        visibility: hidden;
    }

    .navber-logo{
        padding-left: 5px;
    }
 
    nav{
        width: 350px;
        justify-content: space-between;
        text-align: center;
    }
    .nav-lis{
        margin-right: 0;
        margin-left: 0;
    }

    .banner{
        flex-direction: column-reverse;
        justify-content: center;
        margin-bottom: 200px;
        margin-top: 300px;
        max-width: 370px;
        padding-left: 10px;


    }
    .banner-title{
        font-size: 24px;

    }

    .banner-image{
    max-width: 370px;
    height: 245px;
    padding-top: 0px;

    }
    .flower-card{
        grid-template-columns: repeat(2, 1fr);
        margin-left: 0 ;
        padding-left: 0;
    }
    .our-plant-sec{
        padding-left: 10px;
    }
    .flower-store{
        flex-direction: column;
        margin-left: 0 ;
        padding-left: 10px;
    }

    .footer-section{
        grid-template-columns: 1fr;
        width: 365px;
    }

    .deals-images{
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
        padding-bottom: 100px;

        width: 361px;
        margin-left: 10px;

    }

    .deals-right-part,.deals-image-2, .deals-image-1{

    max-width: 361px;
    height: 201px;
    border-radius: 20px;

    }
    .zabo-heading{
    text-align: center;
    padding-top: 65px;
    font-size: 20px;
    font-weight: bold;
    }
    .zabo-shop-now{
        font-size: 16px;
    }
    .flower-store-content{
        width: 361px;
        margin-top: 10px;
        justify-content: center;
    }
    .flower-store-image{
        width: 361px;
        height: 400px;
    }


    .palnt-title, .palnt-decription,.deals-heading, .deals-desciption{
        padding-left: 10px;
        text-align: center;
        max-width: 361px;

    }
    .palnt-decription br{
        display: none;
    }
    .deals-desciption br{
        display: none;
    }
    .news-letter{
        width: 383px;
        height: 276px;
       margin-top: 150px;



    }

    .news-letter-heading{
        padding-top: 100px;
        font-size: 20px;
    }
    .news-letter-input-field{
        width: 200px;
    }
    .subscribe-btn{
        width: 86px;
    }
    .footer-section{


        padding-bottom: 200px;
        padding-left: 50px;

    }
    .icons{
        justify-content: left;
        padding-bottom: 100px;
    }

    .card-image{
        width: 171px;
        height: 196px;
    }

    .btn-card{
        width: 171px;
    }

}

/*header */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 82px;
    width: 1140px;
    margin: 30px auto;
}

.nav-lis{
    margin-right: 48px;
}

.nav-first-li{
    font-weight: 600;
}

.banner-title{
    font-size: 65px;
    font-weight: bold;

}
.banner{
    display: flex;
    height: 461px;
    max-width: 1140px;
    margin: 70px auto 120px;
}
.banner-image{
    max-width: 575px;
    height: 355px;
    padding-top: 106px;

}
.banner-content{
    padding-top: 70px;

}
.banner-description{
    font-size: 22px;
}
/*main */
.palnt-title{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}
.palnt-decription{
    text-align: center;
}

.flower-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 110px;
    padding-right: 110px;
    gap: 15px;
    text-align: center;
}

.btn-card{
    font-size: 16px;
    font-weight: 600;
    width: 270px;
    height: 50px;
    background-color: rgba(233, 90, 8, 1);
}

.flower-name{
    font-size: 22px;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
}
.amount{
    font-weight: bold;
}

.flower-store-image{
    height: 597px;
    width: 540px;
}

.trusted-badge{
    height: 200px;
    width: 200px;
    position: relative;
    left: 390px;
    top: 140px;

}
.flower-store{
    display: flex;
    gap: 60px;
    margin: -70px 150px 130px;
}

.flower-store-heading{
    font-size: 50px;
    font-weight: bold;
}

.flower-store-descriptions{
    font-size: 22px;
}

.flower-store-content{
    margin-top: 220px;
}

.deals-heading{
    font-size: 50px;
    font-weight: bold;
    text-align: center;

}

.deals-desciption{
    font-size: 22px;
    text-align: center;
}
.deals-image-1{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(../assets/deal-bloom.png);

    max-width: 367px;
    height: 201px;
    border-radius: 20px;


}
.deals-image-2{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(../assets/deal-ana.png);

    max-width: 367px;
    height: 201px;
    border-radius: 20px;

}
.deals-left-part{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 20px;
}
.deals-right-part{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../assets/deal-zabo.png);

    width:753px;
    height: 423.12px;
    border-radius: 20px;
}
.deals-images{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 1140px;
    height: 423.12px;
    margin: 0 auto;
}
.bloom-heading, .ana-heading{
  text-align: center;
  padding-top: 65px;
  font-size: 20px;
  font-weight: bold;
}
.zabo-heading{
  text-align: center;
  padding-top: 165px;
  font-size: 40px;
  font-weight: bold;
}
.bloom-shop-now, .ana-shop-now{
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 600;

}
.zabo-shop-now{
    text-align: center;
    margin: 0 auto;
    font-size: 28px;
    font-weight: 600;

}
hr{
    width: 75px;
    margin-top: -2px;
}
.hr1{
    width: 120px;
    margin-top: -2px;
}
.deal-section{
    margin-bottom: 120px;
}

.news-letter{
    background-image: url(../assets/news-letter-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 533px;
    max-width: 100vw;
    margin-bottom: 50px;
}

.news-letter-heading{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-top: 199px;
}
.news-letter-input-field{
    width: 644px;
    height: 40px;
    font-size: 16px;
}
.subscribe-btn{
    width: 186px;
    height: 48px;
    font-size: 16px;
    font-weight: 600px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(233, 90, 8, 1);
}
.news-letter-input-btn{
    display: flex;
    justify-content: center;
    align-items: center;

}
 /* footer*/
.footer-section{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    justify-content: center;
    width: 1120px;
    height: 248px;
    margin: 0 auto;
    padding-bottom: 30px;
}
.icon{
    width: 36px;
    height: 36px;
    margin-right: 20px;
}

.icons{
    display: flex;
    justify-content: space-around;

}

.first-list li{
    margin-bottom: 26px;
    color: rgba(0, 0, 0, 0.5);
}
.Second-list li{
    margin-bottom: 26px;
    color: rgba(0, 0, 0, 0.5);
}


